DATABASE_URL="postgresql://usuario:senha@host:5432/banco?sslmode=require"
AUTH_SECRET="gere-uma-chave-longa-e-aleatoria"
MASTER_USERNAME="lucas.pardinho"
MASTER_PASSWORD_HASH="\$2b\$12\$LwUcnc0Trv8vASSweG9xmuYHw0T7e85RMgJRjt46VieG.1zCSHYbq"
